.para{
    background-color: red;
    margin-bottom: 20px;
    margin-top: 20px;

}
*{
    margin: 0%;
    padding: 0%;
}
.header{
    background-color: red;
}

.anurag{
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
   
}


.swiper {
    width: 1200px;
    height: 400px;
  }

  .img{
 width: 1200px;
height: auto;
margin-top: 10px;

}


.nav{
    background-color: rgb(237, 230, 230);

    margin-bottom: 200px;
    position: sticky;
    top: 0%;
    z-index: 3;

    


}


.ul{
    background-color: rgb(237, 230, 230);

    margin-bottom: 200px;
    position: sticky;
    top: 0%;
    z-index: 130;
}
.nav a{
    text-decoration: none;
}

.nav ul{
    display: flex;
    list-style: none;
}
.nav li{
    padding: 20px;
}