.para{
    background-color: red;
    margin-bottom: 20px;
    margin-top: 20px;

}
*{
    margin: 0%;
    padding: 0%;
}

.anurag{
    background-color: blue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
   
}


.swiper {
    width: 1200px;
    height: 400px;
  }

  .img{
 width: 1200px;
height: auto;
margin-top: 10px;

}