.navbar{
    background-color: brown;
    padding:10px;
    top: 0%;
    position: sticky;
   
}
html{
    scroll-behavior: smooth;
}

.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.navbar a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}
.navbar a:hover{
    color: rgb(10, 29, 108);
    
}

*{
    margin: 0%;
    padding: 0%;
}

