/* 
.meroname{
    background-color: blue;
    color: white;

}
.amritname{
    background-color: red;
    color: green;
}
.clickme{
    background-color: firebrick;
    color: aliceblue;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.clickme:hover{
    background-color: aqua;
    color: black;

}
.clickme a{
    text-decoration: none;
}






.top-div{
    gap: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:justify;
    background-color: aliceblue;
    margin: 10px;
}

.divone , .divtwo{
    background-color: aqua;
    padding: 10px;
}

.divone h1, .divtwo h1{
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;

}

body{
    position: relative;
    scroll-behavior: smooth;
}

.top{
    background-color: aquamarine;
    display: inline-block;
    padding: 10px;
    position: absolute;
    z-index: 3;
  buttom: 0%;
    right: 10%;
   

}

html {
    scroll-behavior: smooth;
  }

nav{
    position:sticky;
   top: 0%;
}

  nav ul{
  list-style: none;
  background-color: red;
 



  }
  nav ul li{
    display: inline;
    margin: 20px;
    padding: 10px;

   
  } */


  /* nav ul a{
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;


  } */

  /* body{
    background-color: brown;
  } */

/* 
  .outbox{
    background-color: rgb(7, 7, 154);
    display: grid;
    grid-template-columns: 1fr;
    margin-left:  200px;
    margin-right: 200px;
    padding-bottom: 50px;
    padding-top: 50px;


  }



  .inbox{

    background-color: white;

    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* margin: 0% auto;
    padding: 0% auto;
    padding-left:10px ;
    padding-right: 10px; */



  



/* 
  }
  


  .login{

    background-color: rgb(7, 7, 154);
    margin-left: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    
    
  }

  .inbox input{
    margin-top: 10px;
  }

  .inbox h2{
    text-align: center;
  }


  .outerdiv{
    background-image: linear-gradient(
  270deg,
  hsl(240deg 100% 20%) 0%,
  hsl(230deg 100% 23%) 4%,
  hsl(224deg 100% 25%) 8%,
  hsl(220deg 100% 27%) 11%,
  hsl(217deg 100% 29%) 14%,
  hsl(214deg 100% 30%) 16%,
  hsl(211deg 100% 31%) 19%,
  hsl(209deg 100% 32%) 22%,
  hsl(206deg 100% 33%) 24%,
  hsl(203deg 100% 33%) 27%,
  hsl(200deg 100% 34%) 30%,
  hsl(196deg 100% 34%) 34%,
  hsl(193deg 100% 33%) 37%,
  hsl(190deg 100% 33%) 41%,
  hsl(186deg 100% 33%) 46%,
  hsl(182deg 100% 33%) 51%,
  hsl(179deg 100% 33%) 57%,
  hsl(175deg 100% 35%) 64%,
  hsl(171deg 64% 44%) 71%,
  hsl(164deg 49% 53%) 79%,
  hsl(156deg 48% 60%) 89%,
  hsl(147deg 48% 66%) 100%
);
    margin-left: 100px;
    margin-right: 100px;
  }
  .outerdiv h1{
    margin-left:40%;
    margin-top: 30px;
    background-color: blue;
    display: inline;
  }

  .outerdiv p{
    padding-left: 20px;
    padding-right:20px ;
   text-align: justify;
   background-color: blue;
   margin-left: 20px;
   margin-right: 20px;
   padding-top: 20px;
   padding-bottom: 20px;

   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }


  .outerdiv button{
    background-color: rgb(103, 37, 62);
    border: none;
    border-radius: 9px;
    margin-bottom: 50px;
    margin-left: 430px;
    margin-top: 50px;
    padding:30px;
    cursor: pointer;
    
  } */ 


  /* .outerdiv{
    background-color: red;
    padding-bottom: 50px;
    padding-top: 50px;

    
  }
  .innerdiv{
    background-color:rgb(200, 160, 160) ;
margin-left: 200px;
margin-right: 200px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin-bottom: 40px;
 text-align: center;

 
  }

  .innerdiv button{
    background-color: aqua;
    margin-bottom: 40px;
    width: 400px;
    margin-top: 20px;
    border: none;
    border-radius: 9px;
    padding-top: 10px;
    padding-bottom: 10px;


  }
  .innerdiv h1{
    background-color: red;
    display: block;
  } */

  /* .maindiv{
    background-color: red;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .topdiv{
    background-color: rgb(18, 4, 58);
    margin: 30px;
    /* padding-top: 20px; */
    
   

/* 
  .tright{
    background-color: aliceblue;

 
  }
  .tleft{ */
   
    /* background-color: black; */
 

   
  /* } */


  *{
    padding: 0%;
    margin: 0%;
  }


  .main{
    background-color: blue;
    padding: 40px;
   display: grid;
   grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;


  }

  .one{
    background-color: brown;
    margin-bottom: 10px;
    position: sticky;
    
  }
  .two{
    background-color: blueviolet;
  }

  .three{
    background-color: chartreuse;
  }

  html{
    scroll-behavior: smooth;
  }